rasa==3.6.20
sentence-transformers==2.2.2
pandas==2.0.3
pyarrow==12.0.1
openpyxl==3.1.2
hypothesis==6.100.0
datasets==2.14.0
pyyaml==6.0.1
numpy==1.24.4
scikit-learn==1.3.0
deep-translator==1.11.4
requests==2.31.0
